Lab1/Lab1.asv
*.pdf
GroupProblem/C/Birds/.vs
GroupProblem/C/Birds/x64
GroupProblem/C/Birds/Birds/x64
settings.json
input.txt
output.txt
*.asv
GroupProblem/True_Python/data/outputs
GroupProblem/True_Python/src/__pycache__
GroupProblem/True_Python/tests/__pycache__